// ==========================================================================
// Theme Custom Variables
// ==========================================================================
//
// Example, Try next line!
//
// COLORS
$verde-dark: #2d888c;
$verde-mid: #59c09b;
$verde-light: #7cc89c;
$grey: #748a96;
$grey-mid: #858585;
$grey-light: #b3b3b3;
// FONTS
$nexa-light: 'nexa-light',sans-serif;
$nexa-regular: 'nexa-regular',sans-serif;
$nexa-bold: 'nexa-bold',sans-serif;
$nexa-heavy: 'nexa-heavy',sans-serif;
$museo-slab: 'museo-slab',serif;
// Border radius shorthand
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  // background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
